body {
  margin: 0px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #777777;
  background: #dddddd;
  font-size: 12px;
  background-image: url(../css/gravel/gravel.png);
}

.main-content {
  width: 960px;
  height: auto;
  background: #ffffff;
  border-color: #dddddd;
  position: relative;
  left: 250px;
}

.main-content2 {
  width: 960px;
  height: 1200px;
  background: #ffffff;
  border-color: #dddddd;
  position: relative;
  left: 250px;
}

header {
  margin: 0px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.header-nav {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
}

hr {
  color: #777777;
  margin: 0px;
}

.hr-content {
  position: relative;
  width: 918px;
  margin-left: auto;
  margin-right: auto;
}

#name {
  background-color: #4aaaa4;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  width: 200px;
  position: relative;
  left: 250px;
  top: 20px;
}

nav {
  background-color: #ffffff;
  padding: 5px;
  float: right;
  position: absolute;
  top: 20px;
  right: 315px;
  height: 50px;
  width: 250px;
  font-size: medium;
  word-spacing: 20px;
}

li {
  display: inline-block;
  bottom: 0px;
}

h1 {
  padding: 5px;
}

#about-me {
  color: #4aaaa5;
  text-align: left;
  width: 960px;
  position: relative;
  left: 20px;
  top: 20px;
  padding: 0px, 10px, 10px, 10px;
}

#portfolio {
  color: #4aaaa5;
  text-align: left;
  position: relative;
  left: 20px;
  top: 20px;
}

#contact {
  color: #4aaaa5;
  text-align: left;
  position: relative;
  left: 20px;
  top: 20px;
}

#photo {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  border: 5px;
}

p {
  font-family: Georgia, Times New Roman, Times, serif;
  width: 930px;
  font-size: 20px;
  line-height: 42px;
  position: relative;
  left: 18px;
  bottom: 30px;
}

.p1 {
  font-size: large;
  position: relative;
  bottom: 25px;
  left: 25px;
}

form {
  font-size: large;
  position: relative;
  left: 25px;
  line-height: 25px;
}

#button {
  background-color: #4aaaa4;
  color: #ffffff;
  font-size: x-large;
}

.thumbnail {
  position: relative;
  margin: 0px 10px 10px 10px;
  display: inline;
}

.thumbnail:hover {
  opacity: 0.5;
}
.overlay {
  position: absolute;
  width: 300px;
  z-index: 1;
  margin-right: 20px;
  background: #4aaaa4;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0px;
  bottom: 40px;
  font-size: medium;
}

.project-info {
  position: relative;
  left: 18px;
  margin-right: 10px;
}

footer {
  background: #666666;
  color: #bbbbbb;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.blue-box {
  background: #4aaaa4;
  height: 8px;
}

input {
  width: 735px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
  header {
    position: static;
    top: 0px;
    text-align: right;
  }
  nav {
    float: right;
    text-align: right;
  }
  .header-nav {
    width: auto;
  }
  #photo {
    padding: bottom 10px;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: static;
    top: 0px;
    text-align: right;
  }
  #photo {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 980px) {
  header {
    position: static;
    top: 0px;
    text-align: right;
  }
  #photo {
    padding-bottom: 10px;
  }
}
